@font-face {
  font-family: Roboto-Medium;
  src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(../assets/fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto-Light;
  cursor: default;
}

:root {
  --white-color: #f5f6fa;
  --light-gray-color: #dcdde1;
  --dark-gray-color: #718093;
  --extra-dark-gray-color: #1f1f1f;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--extra-dark-gray-color);
}
