@font-face {
  font-family: Roboto-Medium;
  src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(../assets/fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto-Light;
  cursor: default;
}

:root {
  --white-color: #f5f6fa;
  --light-gray-color: #dcdde1;
  --dark-gray-color: #718093;
  --extra-dark-gray-color: #1f1f1f;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--extra-dark-gray-color);
}

/* page header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  background-color: var(--white-color);
  margin-bottom: 10vh;
  gap: 1rem;
}

header h1 {
  font-size: 4rem;
  font-family: Roboto-Medium;
  color: var(--extra-dark-gray-color);
}

header h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--extra-dark-gray-color);
}

/* products section */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  background-color: var(--white-color);
  padding: 3rem;
  border-radius: 1rem;
}

/* page footer */
footer {
  height: 3%;
  width: 100vw;
  padding: 0.4rem;
  background-color: var(--light-gray-color);
  text-align: center;
  position: fixed;
  bottom: 0;
}

footer h4 {
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--extra-dark-gray-color);
}

/* cart modal */
.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transform: translateX(-200%);
  transition: 0.5s ease-out;
}

.cart-modal {
  height: 100vh;
  width: 50%;
  background-color: rgb(50, 50, 50);
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}

#close-btn {
  font-size: 1.5rem;
  float: right;
  margin: 0.5em 2em 0 0;
  color: white;
  cursor: pointer;
}

.total {
  text-align: center;
  margin: 2em 0 2em 0;
}

.cart-total {
  color: white;
}

.total-price {
  color: white;
  font-size: 2rem;
  display: block;
}

.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  background-color: green;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
}

.product-rows {
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.product-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product-row article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.cart-image {
  width: 10rem;
  margin: 1em;
}

.cart-price {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.product-quantity {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white-color);
  margin-left: 3rem;
}

.remove-btn {
  padding: 1em 2em;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
  font-weight: bolder;
  font-size: 1rem;
}

.remove-btn:active {
  transform: translateY(5px);
}

@media (max-width: 1000px) {
  .cart-modal {
    width: 100vw;
  }

  .product-row {
    flex-direction: column;
    text-align: center;
    margin-bottom: 2em;
  }

  .remove-btn {
    margin: 0;
  }

  .product-quantity {
    margin: 0.5em 0 0.5em 0;
  }
}
/* end of cart modal */

/* purchase successful modal  */
.purchase-successful-modal {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.psModalContent {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
  button.close {
    font-size: 20px;
    color: #c0c5cb;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
  }
  img {
    width: 50%;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600;
  }
}

/* cart section and icon */
.shopping-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100%;
  margin-right: 2rem;
  transition: 500ms;
}

.shopping-cart:hover {
  transform: scale(1.1);
}

.cart-icon {
  width: 2rem;
  cursor: pointer;
}

.shopping-cart .cartItemCounter {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: tomato;
  color: whitesmoke;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* products */
.products {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.products:hover button {
  transform: translateX(0px);
}

.products button {
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  top: 65%;
  padding: 0.5em 1em;
  transform: translateX(130px);
  transition: 0.5s ease;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem;
}

.clothes {
  overflow: hidden;
  text-align: center;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.clothes img {
  max-width: 200px;
  border-radius: 1rem;
  background-color: var(--light-gray-color);
}
